<ion-header>
  <ion-toolbar>
    <ion-title>E-App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Sign Up</h2>

  <div class="container">
    <ion-item>
      <ion-label>Firstname: </ion-label>
      <ion-input type="text" placeholder="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lastname: </ion-label>
      <ion-input type="text" placeholder="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Username: </ion-label>
      <ion-input type="text" placeholder="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirm password: </ion-label>
      <ion-input type="password" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" placeholder="email"></ion-input>
    </ion-item>
    <ion-item>
      <a href="\login"><ion-button type="submit" color="danger" class="btn-sub">Back </ion-button></a>
      <a href="\tabs\tab3"><ion-button type="submit" color="success" class="btn-sub1">Sign Up </ion-button></a>
</ion-item>
  </div>
</ion-content>
