<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>E-App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-icon name="person-outline" class="icon"></ion-icon>
    <h1>Login</h1>
    <div id="container">
  <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input type="Email" placeholder="email"></ion-input>
   </ion-item>

  <ion-item>
        <ion-label>Password: </ion-label>
        <ion-input type="Password" placeholder="password"></ion-input>
  </ion-item>

  <ion-item>
        <a href="\tabs\tab3"><ion-button type="submit" color="primary" class="btn-sub">Login </ion-button></a>
        <a href="\signup"><ion-button type="submit" color="success" class="btn-sub1">Sign Up </ion-button></a>
  </ion-item>
    </div>
</ion-content>

