<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-icon name="person-outline" class="icon"></ion-icon>
  <h1>Your Name</h1>

  <div class="container">
    <ion-item>
      <ion-list-header>Categories</ion-list-header> 
    </ion-item> 
      <p>
        <ion-list-header>Music</ion-list-header> 
        <ion-chip>
        <ion-label>Pop</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Rock</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Jazz</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Acoustic</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Rap</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>K-pop</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>J-pop</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Default</ion-label>
      </ion-chip>

      <ion-list-header>Video</ion-list-header> 
        <ion-chip>
        <ion-label>Funny</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Sad</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Movies</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Sports</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Drama</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Celebrity</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Music Videos</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Default</ion-label>
      </ion-chip>

      </p>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-badge slot="end" color="danger">+99</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Settings</ion-label>
    </ion-item>
    
  </div>
</ion-content>
