<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Music
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <div class="container">

    <ion-list>
    <ion-list-header>Suggestions</ion-list-header>
 
      <ion-item>
          <ion-icon name="play" class="icon"></ion-icon>
        <ion-label class="label">Lorem ipsum</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="play" class="icon"></ion-icon>
      <ion-label class="label">Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="play" class="icon"></ion-icon>
    <ion-label class="label">Lorem ipsum</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="play" class="icon"></ion-icon>
  <ion-label class="label">Lorem ipsum</ion-label>
</ion-item>
<ion-item>
  <ion-icon name="play" class="icon"></ion-icon>
<ion-label class="label">Lorem ipsum</ion-label>
</ion-item>
<ion-item>
  <ion-icon name="play" class="icon"></ion-icon>
<ion-label class="label">Lorem ipsum</ion-label>
</ion-item>
<ion-item>
  <ion-icon name="play" class="icon"></ion-icon>
<ion-label class="label">Lorem ipsum</ion-label>
</ion-item>
    </ion-list>
  </div>
  
</ion-content>
